<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{_accountInfo.TradingName}}</title>

    <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->

    <style>
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
    </style>
    <style>
        @media (max-width: 600px) {
            img {
                max-width: 100% !important;
                height: auto !important;
            }
        }
    </style>
    <style>
        @media screen and (min-width: 30em) {
            .ph4-ns {
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }
            .mv4-ns {
                margin-top: 2rem !important;
                margin-bottom: 2rem !important;
            }
        }
    </style>
</head>

<body style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; margin: 0; padding: 0; background: #f1f1f1; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; width: 100%; height: 100%; line-height: 100% !important;">
        <tr style="box-sizing: border-box !important;">
            <td align="left" valign="top" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                <table class="mv4-ns" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; max-width: 40rem; width: 100%; background-color: #fff; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                    bgcolor="#fff">


                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; width: 100%; padding-bottom: 2rem; text-align: center !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="center">
                            <div style="box-sizing: border-box; margin-bottom: 1rem; margin-top: 2rem; margin-right: auto; margin-left: auto !important;">
                                <a href="http://{{_accountInfo.HostName}}.com.br" style="box-sizing: border-box !important;">
                                    <img alt="" border="0" width="auto" src="https://aramismenswear.vteximg.com.br/arquivos/cby-d-aramis-logo-black.png" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; border: none; max-height: 80px !important;">
                                    </img>
                                </a>
                            </div>


                            <h1 style="margin: 0; font-size: 30px; line-height: 58px; box-sizing: border-box !important;">Seu pagamento foi aprovado.</h1>
                            <div style="box-sizing: border-box; color: #777; margin-top: .5rem !important;">
                                Referente ao Pedido <span style="font-weight: 700 !important;">#{{orderId}}</span>
                            </div>

                        </td>
                    </tr>

                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100% !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="left">
                            <div style="box-sizing: border-box; margin-top: 2rem !important;">
                                <p style="box-sizing: border-box !important;">
                                    {{#if orders}} {{#if orders.0.clientProfileData.firstName}} {{#compare orders.0.clientProfileData.firstName '!=' 'isAnonymous'}} Olá, {{orders.0.clientProfileData.firstName}}. {{/compare}} {{/if}} {{else}} {{#if clientProfileData.firstName}} {{#compare
                                    clientProfileData.firstName '!=' 'isAnonymous'}} Olá, {{clientProfileData.firstName}}. {{/compare}} {{/if}} {{/if}} {{#compare shippingData.logisticsInfo.length '>' 1}} Estamos providenciando a emissão da Nota Fiscal
                                    do seu pedido e o envio dos seus produtos. {{else}} Estamos providenciando a emissão da Nota Fiscal do seu pedido e o envio do seu produto. {{/compare}}
                                </p>
                            </div>
                        </td>
                    </tr>


                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100%; padding-bottom: 2rem; padding-top: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="left">
                            <h3 style="font-size: 20px; line-height: 36px; text-transform: uppercase; letter-spacing: 1.2pt; font-weight: 300; margin-top: 16px; box-sizing: border-box; margin: 0 !important;">Pagamento</h3>
                            {{#each paymentData.transactions}} {{#compare payments.length "==" 1}} {{#each payments}}
                            <div style="box-sizing: border-box; line-height: 1.5; font-size: 1.25rem !important;">
                                {{paymentSystemName}} {{#if lastDigits}} final {{lastDigits}} {{/if}}
                                <br/>R$ {{formatCurrency value}} {{#eq installments 1}} à vista {{else}} em {{installments}}x {{/eq}}
                            </div>
                            {{/each}} {{/compare}} {{#compare payments.length "!=" 1}}
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                                {{#each payments}}
                                <tr style="box-sizing: border-box !important;">
                                    <td style="line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; padding-top: .25rem; padding-bottom: .25rem; font-size: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                        align="left">
                                        {{paymentSystemName}} {{#if lastDigits}} final {{lastDigits}} {{/if}} {{#eq installments 1}} à vista {{else}} em {{installments}}x {{/eq}}
                                    </td>
                                    <td style="line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; padding-top: .25rem; padding-bottom: .25rem; font-size: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                        align="left">R$ {{formatCurrency value}}</td>
                                </tr>
                                {{/each}}
                            </table>
                            {{/compare}} {{/each}}
                        </td>
                    </tr>
                    <!-- informações adicionais inicio -->
                    <tr>
                        <td>
                            <table width="600px" cellspacing="0" border="0" padding-left="2px" style="padding-left: 30px; padding-right: 30px;">
                                <tbody>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <hr width="600px">
                                        <td valign="top" align="left" style="color:black; font-weight:bold;  font-family: Helvetica; font-size:14px;">PRAZO DE ENTREGA</td>
                                    </tr>
                                    <tr>
                                        <td style="height:25px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - O prazo de entrega* varia de acordo com o CEP de destino e começa a ser contado a partir da data de envio da compra.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - Algumas localidades poderão sofrer alteração no prazo. São elas: AC, AL, AM, AP, BA, CE, MA, MT, PA, PB.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            * Não entregamos aos sábados, domingos e feriados. O horário de entrega é: segunda a sexta, de 8h às 19h.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            Eventualmente as entregas poderão ocorrer aos sábados, domingos e feriados e fora do horário estabelecido.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:15px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="600px" cellspacing="0" border="0" padding-lef="2px" style="padding-left: 30px; padding-right: 30px;">
                                <tbody>
                                    <tr>
                                        <td style="height:10px;"></td>
                                    </tr>
                                    <tr>
                                        <hr width="600px">
                                        <td valign="top" align="left" style="color:black; font-weight:bold;  font-family: Helvetica; font-size:14px;">SOBRE ENTREGA</td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - Serão realizadas 2 (duas) tentativas de entrega. Em caso de insucesso, a mercadoria retornará ao centro de distribuição da ARAMIS.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - Estão autorizados a receber mercadoria: recepcionistas, parentes, secretárias, porteiros - desde que sejam maiores de 18 anos e apresentem, no ato da entrega, documento original com foto;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - A transportadora não está autorizada a abrir as embalagens ou realizar a entrega por meios "alternativos" (cordas, janelas, telhados, etc);
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - Recuse a entrega caso a embalagem não esteja em condições adequadas ou exista sinais de avaria ou violação do lacre. Caso isso ocorra, avise imediatamente a ARAMIS MENSWEAR sobre qualquer divergência;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - Confira todos os itens de seu pedido no ato da entrega. Identifique se estão danificados e, havendo alguma alteração, entre em contato com a central de atendimento.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="600px" cellspacing="0" border="0" padding-lef="2px" style="padding-left: 30px; padding-right: 30px;">
                                <tbody>
                                    <tr>
                                        <td style="height:10px;"></td>
                                    </tr>
                                    <tr>
                                        <hr width="600px">
                                        <td valign="top" align="left" style="color:black; font-weight:bold;  font-family: Helvetica; font-size:14px;">INFORMAÇÕES IMPORTANTES</td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - A partir deste momento, não é possível incluir ou excluir itens do pedido, ou alterar os dados pessoais(como endereço de entrega, por exemplo);
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - Você terá 7 (sete) dias corridos, a contar da entrega, para manifestar-se sobre qualquer divergência ou defeito;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - TROCA: o prazo de substituição do produto pode levar até 30 dias para ocorrer;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            - CANCELAMENTO da compra: será processado após recebimento do(s) produto(s) em nosso centro de distribuição e for constatado que encontram-se em perfeitas condições. O reembolso do valor poderá ser realizado das seguintes formas;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:12px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="color:black; font-weight:normal;  font-family: Helvetica; font-size:14px;">
                                            1) Cartão de crédito: Estorno solicitado à administradora do cartão (em até 10 dias úteis a partir da confirmação de encaminhamento ao setor responsável, pelo SAC); - Para mais detalhes, verifique nossa política de troca e devolução publicada em nosso
                                            site.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:32px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- informações adicionais fim -->
                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid; border-top-width: 1px; border-color: #eee; padding-top: 1rem; padding-bottom: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="left">
                            <p style="box-sizing: border-box !important;">
                                <strong>ATENÇÃO: O prazo de entrega será considerado somente após a confirmação do pagamento.</strong>
                            </p>
                            <p style="box-sizing: border-box !important;">
                                <strong>Atenciosamente,</strong><br>
                                <strong>Equipe {{_accountInfo.TradingName}}</strong>.<br><br>
                            </p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>