<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{_accountInfo.TradingName}}</title>

    <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->

    <style>
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
    </style>
    <style>
        @media (max-width: 600px) {
            img {
                max-width: 100% !important;
                height: auto !important;
            }
        }
    </style>
    <style>
        @media screen and (min-width: 30em) {
            .w-70-ns {
                width: 70% !important;
            }
            .ph4-ns {
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }
            .mv1-ns {
                margin-top: .25rem !important;
                margin-bottom: .25rem !important;
            }
            .mv4-ns {
                margin-top: 2rem !important;
                margin-bottom: 2rem !important;
            }
        }
    </style>
</head>

<body style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; margin: 0; padding: 0; background: #f1f1f1; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; width: 100%; height: 100%; line-height: 100% !important;">
        <tr style="box-sizing: border-box !important;">
            <td align="left" valign="top" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                <table class="mv4-ns" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; max-width: 40rem; width: 100%; background-color: #fff; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                    bgcolor="#fff">


                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; width: 100%; padding-bottom: 2rem; text-align: center !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="center">
                            <div style="box-sizing: border-box; margin-bottom: 1rem; margin-top: 2rem; margin-right: auto; margin-left: auto !important;">
                                <a href="http://{{_accountInfo.HostName}}.com.br" style="box-sizing: border-box !important;">
                                    <img alt="" border="0" width="auto" src="https://aramismenswear.vteximg.com.br/arquivos/cby-d-aramis-logo-black.png" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; border: none; max-height: 80px !important;">
                                    </img>
                                </a>
                            </div>


                            <h1 style="margin: 0; font-size: 30px; line-height: 58px; box-sizing: border-box !important;">Sua entrega foi atualizada.</h1>
                            <div style="box-sizing: border-box; color: #777; margin-top: .5rem !important;">
                                Referente ao Pedido <span style="font-weight: 700 !important;">#{{orderId}}</span>
                            </div>



                            {{#if package.courierStatus.data.0.lastChange}}
                            <div class="w-70-ns" style="box-sizing: border-box; display: inline-block; font-weight: 500; line-height: 1.5; background-color: #eee; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; padding-right: 1rem; margin-top: 2rem; margin-right: auto; margin-left: auto !important;">
                                <div style="box-sizing: border-box; font-weight: 700; color: #777; margin-bottom: .25rem !important;">
                                    {{formatDateTime package.courierStatus.data.0.lastChange}}
                                </div>
                                <div style="box-sizing: border-box; font-weight: 700; line-height: 1.25; font-size: 1.25rem !important;">
                                    {{package.courierStatus.data.0.description}}
                                </div>
                                {{#if package.courierStatus.data.0.city}}
                                <div style="box-sizing: border-box; font-size: 1.25rem !important;">
                                    {{package.courierStatus.data.0.city}} {{#if package.courierStatus.data.0.state}} - {{package.courierStatus.data.0.state}}{{/if}}
                                </div>
                                {{/if}}
                            </div>
                            {{/if}}
                        </td>

                    </tr>

                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100%; padding-bottom: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="left">

                            <p style="box-sizing: border-box; margin-top: 2rem !important;">
                                {{#if orders}} {{#if orders.0.clientProfileData.firstName}} {{#compare orders.0.clientProfileData.firstName '!=' 'isAnonymous'}} Olá, {{orders.0.clientProfileData.firstName}}. {{/compare}} {{/if}} {{else}} {{#if clientProfileData.firstName}} {{#compare
                                clientProfileData.firstName '!=' 'isAnonymous'}} Olá, {{clientProfileData.firstName}}. {{/compare}} {{/if}} {{/if}} {{#compare package.courierStatus.data.length '>' 1}} Acompanhe o andamento sua entrega: {{else}} Seguem
                                os detalhes da sua entrega: {{/compare}}
                            </p>

                            <div style="box-sizing: border-box; padding-bottom: 1rem !important;">
                                {{#if package.courier}}
                                <div style="box-sizing: border-box; font-weight: 700 !important;">Transporte via {{package.courier}}</div>
                                {{/if}}
                                <div style="box-sizing: border-box;">Rastreio #{{package.trackingNumber}} - <a href="{{package.trackingUrl}}" style="box-sizing: border-box !important;">ver histórico detalhado</a></div>
                            </div>


                            {{#compare package.courierStatus.data.length '>' 1}} {{#each package.courierStatus.data}}
                            <div style="box-sizing: border-box; margin-bottom: .5rem !important;">
                                <div style="box-sizing: border-box; color: #777; font-size: .75rem !important;">
                                    {{formatDateTime lastChange}}
                                </div>
                                <div style="box-sizing: border-box !important;">
                                    {{description}}
                                </div>
                                {{#if city}}
                                <div style="box-sizing: border-box !important;">
                                    {{city}} {{#if state}} - {{state}}{{/if}}
                                </div>
                                {{/if}}
                            </div>
                            {{/each}} {{/compare}}
                        </td>
                    </tr>


                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid; border-top-width: 1px; border-color: #eee; width: 100%; padding-top: 2rem; padding-bottom: 2rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="left">
                            {{#richShippingData shippingData}} {{#group logisticsInfo by="addessId"}}
                            <div style="box-sizing: border-box; clear: both; float: none !important;">
                                <h3 style="font-size: 20px; line-height: 36px; text-transform: uppercase; letter-spacing: 1.2pt; font-weight: 300; margin-top: 16px; box-sizing: border-box; margin: 0; margin-bottom: .5rem !important;">Pacote</h3>

                                {{#compare items.0.selectedDeliveryChannel '==' null}}
                                <div style="box-sizing: border-box; max-width: 24rem; background-color: #eee; padding: 1rem; margin-bottom: 1rem !important;">
                                    {{#if orders.0.giftRegistryData}} {{orders.0.giftRegistryData.description}} {{else}} {{#each ../../shippingData.availableAddresses}} {{#eq ../addressId AddressId}}
                                    <strong>{{receiverName}}</strong>
                                    <br/>{{street}}, {{number}}{{#if complement}} - {{complement}}{{/if}}
                                    <br/>{{neighborhood}} - {{city}} - {{state}}
                                    <br/>CEP {{postalCode}} {{/eq}} {{/each}} {{/if}}

                                </div>
                                {{/compare}} {{#eq items.0.selectedDeliveryChannel "delivery"}}
                                <div style="box-sizing: border-box; max-width: 24rem; background-color: #eee; padding: 1rem; margin-bottom: 1rem !important;">
                                    {{#if orders.0.giftRegistryData}} {{orders.0.giftRegistryData.description}} {{else}} {{#each ../../shippingData.availableAddresses}} {{#eq ../addressId AddressId}}
                                    <strong>{{receiverName}}</strong>
                                    <br/>{{street}}, {{number}}{{#if complement}} - {{complement}}{{/if}}
                                    <br/>{{neighborhood}} - {{city}} - {{state}}
                                    <br/>CEP {{postalCode}} {{/eq}} {{/each}} {{/if}}

                                </div>
                                {{/eq}} {{#eq items.0.selectedDeliveryChannel "pickup-in-point"}}
                                <div style="box-sizing: border-box; max-width: 24rem; background-color: #eee; padding: 1rem; margin-bottom: 1rem !important;">
                                    {{#each items.0.slas}} {{#compare ../items.0.selectedSla '==' id}}
                                    <strong>{{pickupStoreInfo.friendlyName}}</strong> {{#with pickupStoreInfo.address}}
                                    <br/>{{street}}, {{number}}{{#if complement}}, {{complement}}{{/if}}
                                    <br/>{{neighborhood}} {{/with}} {{/compare}} {{/each}}

                                </div>
                                {{/eq}} {{#group items by="selectedSla"}} {{#each items}} {{#compare @index '==' 0}} {{#each ../../../../items}} {{#eq id ../itemId}}
                                <div style="box-sizing: border-box; max-width: 24rem; font-weight: 500; background-color: #eee; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; padding-right: 1rem; margin-top: 1rem; margin-bottom: 1rem !important;">
                                    {{#compare ../selectedDeliveryChannel "!=" "pickup-in-point"}} {{#if ../deliveryWindow}}
                                    <div style="box-sizing: border-box; color: #777; font-size: .75rem !important;">Agendada para</div>
                                    {{else}}
                                    <div style="box-sizing: border-box; color: #777; font-size: .75rem !important;">{{../selectedSla}}</div>
                                    {{/if}} {{/compare}} {{#if ../deliveryWindow}} {{formatDate ../deliveryWindow.startDateUtc}} entre {{formatTime ../deliveryWindow.startDateUtc}} e {{formatTime ../deliveryWindow.endDateUtc}} {{else}} {{#unless ../shippingEstimateDate}} {{#eq ../shippingEstimateDays
                                    "0"}} {{#eq ../selectedDeliveryChannel "pickup-in-point"}} A partir de hoje {{else}} Hoje {{/eq}} {{else}} {{#eq ../selectedDeliveryChannel "pickup-in-point"}} A partir de {{else}} Em até {{/eq}} {{#compare shippingEstimateDays
                                    ">" "1"}} {{#eq shippingEstimateDaysType "bd"}} {{shippingEstimateDays}} dias úteis {{else}} {{#eq shippingEstimateDaysType "d"}} {{shippingEstimateDays}} dias {{else}} {{#eq shippingEstimateDaysType "h"}} {{shippingEstimateDays}}
                                    horas {{else}} {{shippingEstimateDays}} minutos {{/eq}} {{/eq}} {{/eq}} {{else}} {{#eq shippingEstimateDaysType "bd"}} {{shippingEstimateDays}} dia útil {{else}} {{#eq shippingEstimateDaysType "d"}} {{shippingEstimateDays}}
                                    dia {{else}} {{#eq shippingEstimateDaysType "h"}} {{shippingEstimateDays}} hora {{else}} {{shippingEstimateDays}} minuto {{/eq}} {{/eq}} {{/eq}} {{/compare}} {{/eq}} {{else}} {{#eq ../deliveryChannel "pickup-in-point"}}
                                    A partir de {{else}} Até {{/eq}} {{formatDate ../shippingEstimateDate}} {{/unless}} {{/if}}
                                </div>
                                {{/eq}} {{/each}} {{/compare}} {{/each}}

                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        {{#each items}} {{#each ../../../../items}} {{#eq id ../itemId}}
                                        <tr style="box-sizing: border-box !important;">
                                            <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 4rem; padding-right: .5rem; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                                align="left" valign="top"><img alt="" src="{{imageUrl}}" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100% !important;" /></td>
                                            <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                                align="left" valign="top">
                                                <div class="mv1-ns" style="box-sizing: border-box; line-height: 1.25; font-size: 1rem !important;">{{name}}</div>
                                                <div style="box-sizing: border-box; color: #777 !important;">
                                                    {{quantity}} un. {{#if sellingPrice}} R$ {{formatCurrency sellingPrice}} {{else}} Grátis {{/if}}
                                                </div>
                                            </td>
                                        </tr>
                                        {{#each bundleItems}} {{#if name}}
                                        <tr style="box-sizing: border-box !important;">
                                            <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 4rem; padding-right: .5rem; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                                align="left" valign="top"><img alt="" src="{{imageUrl}}" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100% !important;" /></td>
                                            <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                                align="left" valign="top">
                                                <div class="mv1-ns" style="box-sizing: border-box; line-height: 1.25; font-size: 1rem !important;">{{name}}</div>
                                                <div style="box-sizing: border-box; color: #777 !important;">
                                                    {{quantity}} un. {{#if price}} R$ {{formatCurrency price}} {{else}} Grátis {{/if}}
                                                </div>
                                            </td>
                                        </tr>
                                        {{/if}} {{/each}} {{/eq}} {{/each}}
                                    </tbody>
                                    {{/each}}
                                </table>


                                {{/group}}
                            </div>
                            {{/group}} {{/richShippingData}}
                        </td>
                    </tr>

                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid; border-top-width: 1px; border-color: #eee; padding-top: 1rem; padding-bottom: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="left">
                            <p><strong>ATENÇÃO:</strong> Lembramos que pedidos que contenham mais de um produto podem ser faturados em notas distintas e entregues separadamente. <br><br></p>
                            <p style="box-sizing: border-box !important;">
                                Atenciosamente,<br/>Equipe {{_accountInfo.TradingName}}
                            </p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>